/* Estilos Generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    color: #333;
    /* Cambiado a un gris oscuro para mejorar la legibilidad */
    background-color: #fff;
    line-height: 1.6;
    /* Espaciado de línea para mejorar la legibilidad */
}

/* Imagen de Encabezado */
.encabezado-img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

/* Contenedor Principal */
.contenedor {
    text-align: center;
    padding: 2em;
    /* Aumento del padding para más espacio */
}

/* Sección de Categoría */
.section-category {
    margin: 3em 0;
    padding: 1em;
    background-color: #f9f9f9;
    /* Fondo sutil para diferenciar secciones */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

/* Títulos de Categoría */
.titulo-category {
    font-size: 2em;
    /* Tamaño más grande para destacar */
    margin-bottom: 1em;
    /* Espacio antes de los productos */
    color: #d35400;
    /* Color que invita al apetito */
}

/* Servicio */
.servicio {
    border: 1px solid #eaeaea;
    /* Borde sutil */
    border-radius: 8px;
    /* Bordes redondeados */
    margin-bottom: 1em;
    /* Espacio entre servicios */
    padding: 1em;
    /* Padding interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    /* Sombra suave */
    background-color: #fff;
    /* Fondo blanco para resaltar */
}

/* Productos y Precios */
.producto-precio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    /* Peso de la fuente para productos y precios */
}

/* Estilos de Producto */
.producto {
    font-size: 1.5em;
    /* Tamaño más grande para destacar */
    color: #27ae60;
    /* Color verde que representa frescura */
}

/* Estilos de Precio */
.precio {
    font-weight: 700;
    /* Más peso para destacar el precio */
    font-size: 1.2em;
    /* Tamaño ligeramente más grande */
}

/* Descripciones de Productos */
.descripcion {
    text-align: start;
    font-size: 1em;
    /* Tamaño estándar para facilidad de lectura */
    color: #7f8c8d;
    /* Gris suave para las descripciones */
    font-family: 'Open Sans', sans-serif;
    /* Fuente neutra para descripciones */
    margin-bottom: 2em;
    /* Espacio después de la descripción */
}

/* Modo Oscuro */
.dark-mode {
    background-color: #25282b;
    color: #fff;
}

/* Interruptor de Modo Oscuro */
.toggle-switch {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 30px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.switch {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.3s;
}

.handle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.icono {
    transition: transform 0.3s;
}

.dark-mode .switch {
    left: 35px;
    background-color: #222121;
}

.dark-mode .handle .icono {
    content: "\1F319";
}

/* Responsive */
@media (max-width: 768px) {
    .toggle-switch {
        width: 50px;
        height: 25px;
    }

    .switch {
        width: 15px;
        height: 15px;
    }

    .encabezado-img {
        height: 20vh;
    }

    .titulo-category {
        font-size: 1.5em;
        /* Tamaño ajustado para pantallas pequeñas */
    }

    .producto {
        font-size: 1.2em;
        /* Tamaño ajustado para pantallas pequeñas */
    }

    .precio {
        font-size: 1em;
        /* Tamaño ajustado para pantallas pequeñas */
    }
}



/*MODO OSCURO CARDS         */

/* Modo Oscuro */
.dark-mode {
    background-color: #121212;
    /* Fondo oscuro para el modo oscuro */
    color: #f0f0f0;
    /* Texto claro para contraste */
}

/* Imagen de Encabezado en Modo Oscuro */
.dark-mode .encabezado-img {
    filter: brightness(0.5);
    /* Oscurecer la imagen para que combine con el fondo */
}

/* Contenedor Principal en Modo Oscuro */
.dark-mode .contenedor {
    text-align: center;
    padding: 2em;
}

/* Sección de Categoría en Modo Oscuro */
.dark-mode .section-category {
    margin: 3em 0;
    padding: 1em;
    background-color: #1a1a1a;
    /* Fondo más oscuro para las secciones */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    /* Sombra clara para resaltar */
}

/* Títulos de Categoría en Modo Oscuro */
.dark-mode .titulo-category {
    font-size: 2em;
    margin-bottom: 1em;
    color: #e67e22;
    /* Color cálido para los títulos */
}

/* Servicio en Modo Oscuro */
.dark-mode .servicio {
    border: 1px solid #333;
    /* Borde más oscuro para definir cada servicio */
    border-radius: 8px;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.05);
    /* Sombra clara para resaltar */
    background-color: #181818;
    /* Fondo ligeramente más claro que el fondo general */
}

/* Productos y Precios en Modo Oscuro */
.dark-mode .producto-precio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

/* Estilos de Producto en Modo Oscuro */
.dark-mode .producto {
    font-size: 1.5em;
    color: #2ecc71;
    /* Verde claro para resaltar los productos */
}

/* Estilos de Precio en Modo Oscuro */
.dark-mode .precio {
    font-weight: 700;
    font-size: 1.2em;
    color: #f0f0f0;
    /* Texto claro para el precio */
}

/* Descripciones de Productos en Modo Oscuro */
.dark-mode .descripcion {
    text-align: start;
    font-size: 1em;
    color: #bdc3c7;
    /* Gris claro para las descripciones */
    font-family: 'Open Sans', sans-serif;
}

/* Interruptor de Modo Oscuro */
.dark-mode .toggle-switch {
    background-color: #333;
    /* Fondo más oscuro para el interruptor */
}

.dark-mode .switch {
    background-color: #f0f0f0;
    /* Botón claro para el interruptor */
}

/* Responsive en Modo Oscuro */
@media (max-width: 768px) {
    .dark-mode .titulo-category {
        font-size: 1.5em;
    }

    .dark-mode .producto {
        font-size: 1.2em;
    }

    .dark-mode .precio {
        font-size: 1em;
    }
}


.footer-container {
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    text-align: center; /* Asegura que el texto también esté centrado */
  }
  
  @media (min-width: 768px) { /* Asumiendo que estás usando Bootstrap y su punto de ruptura para md es 768px */
    .footer-container {
      flex-direction: row; /* Organiza los elementos en una fila para pantallas más grandes */
      justify-content: space-between; /* Distribuye el espacio entre los elementos */
    }
    .footer-container p,
    .footer-container .nav {
      flex: 1; /* Permite que los elementos crezcan y se encogen según sea necesario */
    }
  }
  